<!doctype html>
<html>
<head>
  <title>MemoryOverflow</title>
  <meta name="description" content="Card game by developers for developers - Destroy your enemies, controls the Machine, be the new Developer Master" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="generator" content="MemoryOverflowAgent 0.1.0" />

  <link rel="icon" type="image/png" href="/favicon.ico" />
  <link rel="shortcut icon" href="/favicon.png" />

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link href="http://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="vendor/fontello/css/fontello.css" type="text/css" />
  <link rel="stylesheet" href="features/common/css/page.css" type="text/css" />

<% for(var i = 0, len = css.length; i < len; i++) { -%>
  <link rel="stylesheet" href="<%= css[i] -%>" type="text/css" />
<% } -%>
</head>
<body>

  <header class="body-header">
    <div class="body-header-content">
      <div class="logo-bg logo-bg-1"></div>
      <div class="logo-bg logo-bg-2"></div>
      <div class="logo-bg logo-bg-3"></div>
      <div class="logo-bg logo-bg-4"></div>
      <div class="logo-bg logo-bg-5"></div>
      <div class="logo-bg logo-bg-6"></div>
      <div class="logo-bg logo-bg-7"></div>

      <a class="logo" href="/">
        <div class="logo-animation"></div>
        <h1>MemoryOverflow</h1>
      </a>

      <p class="home-message">
        &laquo; Destroy your enemies, controls the Machine, be the new Developer Master &raquo; <span>- D.M.</span>
      </p>
    </div>
  </header>

  <div class="body-content">
