<% title('Contribute in the Central Agency of the Machine') -%>
<% include features/common/header -%>

<div class="body-content-container">
  <div class="city"></div>
</div>

<article class="body-page">

  <h1>Central Agency of the Machine</h1>

  <p>Welcome to the C.A.M.. This agency was designed by The Machine to improve herself and her content. When you contribute to the project you become a Special Agent of The Machine. The Machine needs you to make her brain more intelligent, to make new cards, more templates, to translate the website, etc.</p>

  <p>The Machine loves her Agents. The more you contribute, the more she will love you.</p>

  <h2>Contribution types</h2>

  <p>There are 5 types of contribution in the project. All have the same goal: create a beautiful, smart and awesome card game.</p>

  <ul>
    <li><a href="#cards">Cards</a></li>
    <li><a href="#templates">Templates</a></li>
    <li><a href="#website">Website</a></li>
    <li><a href="#the-machine">The Machine</a></li>
    <li><a href="#translations">Translations</a></li>
  </ul>

  <h2>Code of Conduct</h2>

  <p>Before contributing to the project and become a Special Agent, you have to know the code of conduct. As Special Agent, your first goal is to lead by example. You have to respect other agent who contributes by posting issues, updating cards, submitting pull requests, providing feedback in comments, and any other activities.</p>

  <p>Communication through any of MemoryOverflow's channels (GitHub, Gitter, mailing lists, Google+, Twitter, etc.) must be constructive and never resort to personal attacks, trolling, public or private harrassment, insults, or other unprofessional conduct.</p>

  <p>The Machine respect everyone is involved in this agency regardless of gender, gender identity, sexual orientation, disability, age, race, ethnicity, religion, or level of experience. She expects no less of his agents.</p>

  <p>If any Special Agent violates this code of conduct, The Machine or her leader agents may take action, removing issues, comments, and PRs or blocking accounts as deemed appropriate.</p>

  <h2>Contributions</h2>

  <p>The GitHub project is designed to run like a Wiki. Each folder has a README.md file to describe the way it works. The Machine is the central point of the game. She's everywhere, she sees everyone.</p>

  <p>Each contribution type described below will redirect you to the specific part in the Github project.</p>

  <h3 id="cards">Cards</h3>

  <p>Cards are grouped by edition. There are <a href="game-rules.html#types" target="_blank">3 playable card types</a> and the special cards The Machine. Each card is design to create the <strong>"amazing! effect"</strong> when two players fighting. By contributing on cards, you have the power to create new rules, new combos and new play opportunities.</p>

  <p>Cards are written in multiple programming languages. You can easily add all of the language you want and contribute to existing card to add new langagues support.</p>

  <p>Before creating new cards, the best thing is to discuss with all of the agents in the <a href="https://gitter.im/CodeCorico/MemoryOverflow" target="_blank">C.A.M. discussion room</a>. Feel free to create new <a href="https://github.com/CodeCorico/MemoryOverflow/issues?q=is%3Aopen+is%3Aissue+label%3A%22feat%3A+cards%22" target="_blank">issue</a> formatted in <a href="https://github.com/CodeCorico/MemoryOverflow/blob/master/CONTRIBUTING.md#write-a-user-story-for-a-new-feature" target="_blank">user story</a> or directly pull request to explain you new card ideas.</p>

  <p><a href="https://github.com/CodeCorico/MemoryOverflow/tree/master/cards">Go creating cards!</a></p>

  <h3 id="templates">Templates</h3>

  <p>Templates makes the atmosphere of the physical game. They are close to The Machine as they represent her soul in the players hands.</p>

  <p>It's really easy to create each card template. The skeleton is the same for all of the templates. So you just have to draw your template and set each position and style of the cards parts (card title, version, content, etc.)</p>

  <p><a href="https://github.com/CodeCorico/MemoryOverflow/tree/master/templates">Go creating templates!</a></p>

  <h3 id="website">Website</h3>

  <p>The website is what you are actually using. It's written in <a href="http://www.embeddedjs.com/" target="_blank">EJS</a> and when its source code is updated and published in the GitHub repository, a Special Agent regenerate automatically the official website.</p>

  <p>It's possible to improve its design, to make more usefull pages or features. You can contribute to create what you want to use.</p>

  <p><a href="https://github.com/CodeCorico/MemoryOverflow/tree/master/website">Go updating the website!</a></p>

  <h3 id="the-machine">The Machine</h3>

  <p>The machine is an artificial intelligence designed by the Developer Master before his death. Her goal is to find a worthy successor to the D.M. fighting the horde of developers who think they're smart enought.</p>

  <p>The Machine has designed special agents who work for her. Each is responsible for a particular task, such as cards or website generations for example. She, and its agents, are written in JavaScript with Node.js. To contribute to the flowering of The Machine you need to have good strong back.</p>

  <p><a href="https://github.com/CodeCorico/MemoryOverflow/tree/master/the-machine">Go working on The Machine brain!</a></p>

  <h3 id="translations">Translations</h3>

  <p>The cards and the website must be read in several languages. Each one use a simple system of internationalisation to allow players to read the rules, print and play cards in their languages.</p>

  <p><a href="https://github.com/CodeCorico/MemoryOverflow/tree/master/cards">Go translating cards!</a></p>
  <p><a href="https://github.com/CodeCorico/MemoryOverflow/tree/master/website">Go translating the website!</a></p>

</article>

<% include features/common/footer -%>