<% css.push('features/homepage/css/homepage.css'); -%>
<% js.push('features/homepage/js/homepage.js'); -%>
<% include features/common/header -%>

<div class="body-content-container">
  <div class="city"></div>
</div>

<div class="card-light"></div>
<div class="machine-tower"></div>
<div class="hero-light"></div>
<div class="machine-red-eye"></div>

<div class="body-homepage">
  <div class="hologram-laser hologram-laser-game"></div>
  <div class="hologram-laser hologram-laser-cards"></div>
  <div class="hologram-laser hologram-laser-contribute"></div>

  <div class="panel panel-game">
    <div class="hologram-panel">
      <a class="column" href="#">
        <div class="cursor"></div>
        <span>Memory Overflow</span>
      </a>

      <a class="column" href="#">
        <div class="cursor"></div>
        <span>The Machine</span>
      </a>

      <a class="column" href="#">
        <div class="cursor"></div>
        <span>Game rules</span>
      </a>
    </div>
  </div>

  <div class="panel panel-cards">
    <div class="hologram-panel">
      <a class="column column-100" href="#">
        <div class="cursor"></div>
        <span>Cards &amp; Editions</span>
      </a>
    </div>
  </div>

  <div class="panel panel-contribute">
    <div class="hologram-panel">
      <a class="column column-100" href="#">
        <div class="cursor"></div>
        <span>Contribute! Join the C.A.M.</span>
      </a>
    </div>
  </div>

</div>
<% include features/common/footer -%>