<% title('What is it') -%>
<% include features/common/header -%>

<div class="body-content-container">
  <div class="city"></div>
</div>

<article class="body-page">

  <h1>Memory Overflow</h1>

  <p>MemoryOverflow is a <strong>TOTALLY FREE</strong> card game designed by developers for developers.</p>
  <p>You will find here all the resources to be able to play with other developers and become THE Developer Master.</p>

  <h2>How to play?</h2>

  <p>MemoryOverflow is a card game where two players battle to control The Machine. The first to reach the specific number requested by The Machine wins. Be careful, if your number is larger than the requested number, The Machine destroys you instantly. It's called the Memory Overflow.</p>

  <ul>
    <li><a href="story.html">Read the game story</a></li>
    <li><a href="game-rules.html">Learn the rules</a></li>
    <li><a href="#">Print your cards</a></li>
  </ul>

  <h2>The project</h2>

  <p>The project is maintened by an enthusiast community of Special Agents working for The Machine. They work together on enhancing the game by making new cards, templates and more on GitHub.</p>

  <ul>
    <li><a href="#">GitHub project</a></li>
    <li><a href="#">Join the C.A.M. and be part of the community</a></li>
    <li><a href="">C.A.M. Discussion chat</a></li>
    <li><a href="https://twitter.com/CodeCoricoTeam" target="_blank">The CodeCorico team Twitter</a></li>
  </ul>

</article>

<% include features/common/footer -%>