.machine-tower {
  position: absolute;
  top: 223px;
  left: 50%;
  margin-left: -216px; /* width / 2 */
  width: 432px;
  height: 1200px;
  background: url("../images/machine-tower.png") no-repeat;
}

@-webkit-keyframes hero-light-animation { 0% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; } }
@-moz-keyframes    hero-light-animation { 0% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; } }
@-ms-keyframes     hero-light-animation { 0% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; } }
@-o-keyframes      hero-light-animation { 0% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; } }
@keyframes         hero-light-animation { 0% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; } }

.hero-light {
  position: absolute;
  top: 223px;
  left: 50%;
  margin-left: -52px;
  width: 84px;
  height: 176px;
  background: url("../images/hero-light.png") no-repeat;

  -webkit-animation: hero-light-animation 5s linear infinite;
     -moz-animation: hero-light-animation 5s linear infinite;
      -ms-animation: hero-light-animation 5s linear infinite;
       -o-animation: hero-light-animation 5s linear infinite;
          animation: hero-light-animation 5s linear infinite;
}

@-webkit-keyframes card-light-animation { 0% { opacity: 0.05; -webkit-transform: rotate(0deg); } 50% { opacity: 1; } 100% { opacity: 0.05; -webkit-transform: rotate(360deg); } }
@-moz-keyframes    card-light-animation { 0% { opacity: 0.05; -moz-transform: rotate(0deg); }    50% { opacity: 1; } 100% { opacity: 0.05; -moz-transform: rotate(360deg); } }
@-ms-keyframes     card-light-animation { 0% { opacity: 0.05; -ms-transform: rotate(0deg); }     50% { opacity: 1; } 100% { opacity: 0.05; -ms-transform: rotate(360deg); } }
@-o-keyframes      card-light-animation { 0% { opacity: 0.05; -o-transform: rotate(0deg); }      50% { opacity: 1; } 100% { opacity: 0.05; -o-transform: rotate(360deg); } }
@keyframes         card-light-animation { 0% { opacity: 0.05; transform: rotate(0deg); }         50% { opacity: 1; } 100% { opacity: 0.05; transform: rotate(360deg); } }

.card-light {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -256px;
  width: 428px;
  height: 428px;
  background: url("../images/card-light.png") no-repeat;

  -webkit-animation: card-light-animation 5s linear infinite;
     -moz-animation: card-light-animation 5s linear infinite;
      -ms-animation: card-light-animation 5s linear infinite;
       -o-animation: card-light-animation 5s linear infinite;
          animation: card-light-animation 5s linear infinite;
}

@-webkit-keyframes red-eye-animation { 0% { -webkit-transform: translateX(0px); } 50% { -webkit-transform: translateX(50px); } 100% { -webkit-transform: translateX(0px); } }
@-moz-keyframes    red-eye-animation { 0% { -moz-transform: translateX(0px); }    50% { -moz-transform: translateX(50px); }    100% { -moz-transform: translateX(0px); } }
@-ms-keyframes     red-eye-animation { 0% { -ms-transform: translateX(0px); }     50% { -ms-transform: translateX(50px); }     100% { -ms-transform: translateX(0px); } }
@-o-keyframes      red-eye-animation { 0% { -o-transform: translateX(0px); }      50% { -o-transform: translateX(50px); }      100% { -o-transform: translateX(0px); } }
@keyframes         red-eye-animation { 0% { transform: translateX(0px); }         50% { transform: translateX(50px); }         100% { transform: translateX(0px); } }

.machine-red-eye {
  position: absolute;
  top: 455px;
  left: 50%;
  margin-left: -80px;
  width: 80px;
  height: 8px;
  background: url("../images/machine-red-eye.png") no-repeat;

  -webkit-animation: red-eye-animation 2s ease-out infinite;
     -moz-animation: red-eye-animation 2s ease-out infinite;
      -ms-animation: red-eye-animation 2s ease-out infinite;
       -o-animation: red-eye-animation 2s ease-out infinite;
          animation: red-eye-animation 2s ease-out infinite;
}

.body-homepage {
  position: relative;
  width: 1000px;
  height: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

.body-homepage .panel {
  position: absolute;
  left: 0;
  width: 1000px;
  height: 320px;
}

.body-homepage .panel-game {
  top: 410px;
}

.body-homepage .panel-cards {
  top: 760px;
}

.body-homepage .panel-contribute {
  top: 1110px;
}

@-webkit-keyframes hologram-laser-animation { 0% { opacity: 1; } 50% { opacity: 0.7; } 100% { opacity: 1; } }
@-moz-keyframes    hologram-laser-animation { 0% { opacity: 1; } 50% { opacity: 0.7; } 100% { opacity: 1; } }
@-ms-keyframes     hologram-laser-animation { 0% { opacity: 1; } 50% { opacity: 0.7; } 100% { opacity: 1; } }
@-o-keyframes      hologram-laser-animation { 0% { opacity: 1; } 50% { opacity: 0.7; } 100% { opacity: 1; } }
@keyframes         hologram-laser-animation { 0% { opacity: 1; } 50% { opacity: 0.7; } 100% { opacity: 1; } }

.hologram-laser {
  position: absolute;
  left: 50%;
  width: 165px;
  height: 165px;
  background: url("../images/hologram-laser.png") no-repeat;
  margin-left: -96px;

  -webkit-animation: hologram-laser-animation 0.1s linear infinite;
     -moz-animation: hologram-laser-animation 0.1s linear infinite;
      -ms-animation: hologram-laser-animation 0.1s linear infinite;
       -o-animation: hologram-laser-animation 0.1s linear infinite;
          animation: hologram-laser-animation 0.1s linear infinite;
}

.hologram-laser-game {
  top: 492px;
}

.hologram-laser-cards {
  top: 835px;
}

.hologram-laser-contribute {
  top: 1186px;
}

@-webkit-keyframes hologram-panel-animation { 0% { opacity: 1; } 50% { opacity: 0.9; } 100% { opacity: 1; } }
@-moz-keyframes    hologram-panel-animation { 0% { opacity: 1; } 50% { opacity: 0.9; } 100% { opacity: 1; } }
@-ms-keyframes     hologram-panel-animation { 0% { opacity: 1; } 50% { opacity: 0.9; } 100% { opacity: 1; } }
@-o-keyframes      hologram-panel-animation { 0% { opacity: 1; } 50% { opacity: 0.9; } 100% { opacity: 1; } }
@keyframes         hologram-panel-animation { 0% { opacity: 1; } 50% { opacity: 0.9; } 100% { opacity: 1; } }

.panel .hologram-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 320px;
  background: no-repeat center center;

  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);

  -webkit-animation: hologram-panel-animation 0.1s linear infinite;
     -moz-animation: hologram-panel-animation 0.1s linear infinite;
      -ms-animation: hologram-panel-animation 0.1s linear infinite;
       -o-animation: hologram-panel-animation 0.1s linear infinite;
          animation: hologram-panel-animation 0.1s linear infinite;
}

.panel.panel-game .hologram-panel {
  background-image: url("../images/hologram-panel-game.png");
}

.panel.panel-cards .hologram-panel {
  background-image: url("../images/hologram-panel-cards.png");
}

.panel.panel-contribute .hologram-panel {
  background-image: url("../images/hologram-panel-contribute.png");
}

.panel .column, .panel .column:hover, .panel .column:visited {
  position: relative;
  float: left;
  width: 33%;
  height: 100%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;

  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 30%,rgba(0,0,0,0.85) 150%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(30%,rgba(0,0,0,0.03)),color-stop(150%,rgba(0,0,0,0.85)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 30%,rgba(0,0,0,0.85) 150%);
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 30%,rgba(0,0,0,0.85) 150%);
  background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 30%,rgba(0,0,0,0.85) 150%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 30%,rgba(0,0,0,0.85) 150%);
  -moz-text-shadow: #5b5d61 1px 1px 5px;
  -webkit-text-shadow: #5b5d61 1px 1px 5px;
  text-shadow: #5b5d61 1px 1px 5px;
}

.panel .column:last-child {
  width: 34%;
}

.panel .column.column-100 {
  width: 100%;
}

@-webkit-keyframes cursor-animation { 0% { -webkit-transform: translateY(0px); } 50% { -webkit-transform: translateY(10px); } 100% { -webkit-transform: translateY(0px); } }
@-moz-keyframes    cursor-animation { 0% { -moz-transform: translateY(0px); }    50% { -moz-transform: translateY(10px); }    100% { -moz-transform: translateY(0px); } }
@-ms-keyframes     cursor-animation { 0% { -ms-transform: translateY(0px); }     50% { -ms-transform: translateY(10px); }     100% { -ms-transform: translateY(0px); } }
@-o-keyframes      cursor-animation { 0% { -o-transform: translateY(0px); }      50% { -o-transform: translateY(10px); }      100% { -o-transform: translateY(0px); } }
@keyframes         cursor-animation { 0% { transform: translateY(0px); }         50% { transform: translateY(10px); }         100% { transform: translateY(0px); } }

.panel .column .cursor {
  display: none;
  position: absolute;
  top: -50px;
  left: 50%;
  width: 35px;
  margin-left: -17px;
  height: 20px;
  background: url("../../common/images/cursor.png") no-repeat;

  -webkit-animation: cursor-animation 0.5s ease-out infinite;
     -moz-animation: cursor-animation 0.5s ease-out infinite;
      -ms-animation: cursor-animation 0.5s ease-out infinite;
       -o-animation: cursor-animation 0.5s ease-out infinite;
          animation: cursor-animation 0.5s ease-out infinite;
}

.panel .column:hover .cursor {
  display: block;
}

.panel .column span {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 90%;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 1000px) {

  .body-homepage {
    width: 100%;
    height: auto;
  }

  .body-content-container {
    display: none;
  }

  .card-light, .machine-red-eye, .hero-light, .machine-tower {
    display: none;
  }

  .hologram-laser {
    display: none;
  }

  .panel .hologram-panel {
    position: relative;
    top: 0;
    left: 0;

    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);

    -webkit-animation: none;
       -moz-animation: none;
         -o-animation: none;
        -ms-animation: none;
            animation: none;
  }

  .body-homepage .panel {
    position: relative;
    width: 280px;
    height: 280px;
    margin: 20px auto;
  }

  .panel .hologram-panel {
    width: 100%;
    height: 280px;
    background-position: center center;
    border-radius: 50px;
    overflow: hidden;
  }

  .body-homepage .panel-game, .body-homepage .panel-cards, .body-homepage .panel-contribute {
    top: 0;
  }

  .panel.panel-game {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0;
  }

  .panel.panel-game .hologram-panel {
    background: none;
    height: auto;
  }

  .panel.panel-game .hologram-panel .column, .panel.panel-game .hologram-panel .column:hover, .panel.panel-game .hologram-panel .column:visited {
    position: relative;
    display: block;
    float: none;
    width: 280px;
    height: 280px;
    margin: 20px auto;
    background-position: center center;
    border-radius: 50px;
    overflow: hidden;
  }

  .panel.panel-game .hologram-panel .column:first-child {
    background-image: url("../images/hologram-mini-memoryoverflow.png");
  }

  .panel.panel-game .hologram-panel .column:nth-child(2) {
    background-image: url("../images/hologram-mini-themachine.png");
  }

  .panel.panel-game .hologram-panel .column:last-child {
    background-image: url("../images/hologram-mini-rules.png");
  }

  .panel.panel-cards .hologram-panel {
    background-image: url("../images/hologram-mini-cards.png");
  }

  .panel.panel-contribute .hologram-panel {
    background-image: url("../images/hologram-mini-contribute.png");
  }

  .panel .column:hover .cursor {
    display: none;
  }

  .panel.panel-game .column .cursor, .panel.panel-game .column:hover .cursor {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    margin: 0;

    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 30%,rgba(0,0,0,0.85) 150%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(30%,rgba(0,0,0,0.03)),color-stop(150%,rgba(0,0,0,0.85)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 30%,rgba(0,0,0,0.85) 150%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 30%,rgba(0,0,0,0.85) 150%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 30%,rgba(0,0,0,0.85) 150%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 30%,rgba(0,0,0,0.85) 150%);

    -webkit-animation: none;
       -moz-animation: none;
         -o-animation: none;
        -ms-animation: none;
            animation: none;
  }

}